.buttons {
  float: left;
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 2px;
  line-height: 0;
  margin-right: 3px;
}

.closebtn {
  background: #ff5c5c;
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}

.closebtn:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.minimizebtn {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 11px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block;
}

.minimizebtn:active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.zoombtn {
  background: #00ca56;
  font-size: 9pt;
  line-height: 11px;
  width: 11px;
  height: 11px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-block;
}

.zoombtn:active {
  background: #029740;
  border: 1px solid #128435;
}