@import "buttons";
@import "glitch";
@import "main";
@import "title-bar";
@import "layers-panel";
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .announcements-glitch-md, .announcements-glitch-lg, .announcements-glitch-xl {
    display: none;
  }
  .announcements-glitch-xs {
    display: block;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .announcements-glitch-xs, .announcements-glitch-lg, .announcements-glitch-xl {
    display: none;
  }
  .announcements-glitch-md {
    display: block;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .announcements-glitch-md, .announcements-glitch-xs, .announcements-glitch-xl {
    display: none;
  }
  .announcements-glitch-lg {
    display: block;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .announcements-glitch-md, .announcements-glitch-lg, .announcements-glitch-xs {
    display: none;
  }
  .announcements-glitch-xl {
    display: block;
  }
}

.announcements-glitch-lg {
  width: 333px;
  height: 61px;
  font-size: 50px;
  font-weight: 300;
  @include textGlitch(announcements-glitch-lg, 20, black, transparent, red, green, 333, 61);
}
.announcements-glitch-md {
  width: 267px;
  height: 49px;
  font-size: 40px;
  font-weight: 300;
  @include textGlitch(announcements-glitch-md, 20, black, transparent, red, green, 267, 49);
}
.announcements-glitch-xl {
  width: 400px;
  height: 73px;
  font-size: 60px;
  font-weight: 300;
  @include textGlitch(announcements-glitch-xl, 20, black, transparent, red, green, 400, 61);
}

.announcements-glitch-xs {
  width: 200px;
  height: 37px;
  font-size: 30px;
  font-weight: 300;
  @include textGlitch(announcements-glitch-xs, 20, black, transparent, red, green, 200, 37);
}
.carousel-inner > .item > a > img,  .carousel-inner > .item > img {
  width: 100%;
}
#audiogallery,#visualgallery,#othergallery {
  max-height: 1000px;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}
#content-connect {
  min-height: 600px;
}
#layers-connect {
  right: 30%;
  min-width: 40%;
  max-width: 50%;
}
.layers-connect > a {
  width: 50%;
}
/* SOCIAL MEDIA BUTTON */
.social_btn-facebook {background: #3b5998;color:#172d5e}
.social_btn-twitter {background: #00aced;color:#043d52}
.social_btn-google-plus {background: #c32f10;color:#6b1301}
.social_btn-soundcloud {background: #ff8800;color:#c73e04}
.social_btn-insta {background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);color:white}
.social_btn-bandcamp {background: black;color:white}
.social_btn-linkedin {background: #0976b4;color:#004269}
.social_btn-tumblr {background: #35465c;color:#142030}
.social_btn-website {background: dodgerblue; color: white;}











