.buttons {
  float: left;
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 2px;
  line-height: 0;
  margin-right: 3px; }

.closebtn {
  background: #ff5c5c;
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block; }

.closebtn:active {
  background: #c14645;
  border: 1px solid #b03537; }

.minimizebtn {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 11px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block; }

.minimizebtn:active {
  background: #c08e38;
  border: 1px solid #af7c33; }

.zoombtn {
  background: #00ca56;
  font-size: 9pt;
  line-height: 11px;
  width: 11px;
  height: 11px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-block; }

.zoombtn:active {
  background: #029740;
  border: 1px solid #128435; }

/*
  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
**/
/*
  (IMAGE) PARAMS
  =================
  @mixin imgGlitch($name, $intensity, $width, $height, $top, $left)
  =================
  1. Namespace
  2. Intensity
  3. Width (px)
  4. Height (px)
  5. Top (px, abs pos)
  6. Left (px, abs pos)
**/
div.container {
  background-color: transparent;
  margin-top: 50px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

div#maincontainer {
  padding: 0; }

div#maincontainer.index {
  padding: 0 0 4px; }

.content {
  background: url("../images/bg.png") repeat;
  background-size: 24px 24px; }

.content.content-index {
  margin: 0 4px 4px;
  padding: 5px 10px; }

.nav1 > span {
  color: #c6c4bd;
  display: block;
  padding-top: 2px; }

hr.emboss-shit {
  border-width: 2px 0;
  border-color: #444 transparent #aaa transparent;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: 98%; }

.navbar {
  padding-top: 0;
  padding-bottom: 0; }

.nav1 {
  height: 28px;
  background-color: #535353;
  overflow: visible;
  padding: 2px 8px; }

.nav2 {
  background: #535353;
  background: -moz-linear-gradient(top, #535353 0%, #464646 100%);
  background: -webkit-linear-gradient(top, #535353 0%, #464646 100%);
  background: -o-linear-gradient(top, #535353 0%, #464646 100%);
  background: -ms-linear-gradient(top, #535353 0%, #464646 100%);
  background: linear-gradient(to bottom, #535353 0%, #464646 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#535353', endColorstr='#464646', GradientType=0); }

hr.emboss-shit2 {
  border-width: 2px 0;
  margin-top: 5px !important;
  margin-bottom: 3px !important;
  width: 95%;
  padding: 1px 0; }

div.layers-images > a {
  color: whitesmoke; }

div.layers-images > a:hover, div.layers-images > a:visited, div.layers-images > a:link, div.layers-images > a:active {
  text-decoration: none; }

div.layers-nav > div[role="tablist"] {
  margin: 0 auto; }

#audiogallery, #othergallery {
  display: none; }

.layers {
  padding: 5px;
  z-index: 999;
  min-width: 20%;
  max-width: 30%;
  min-height: 400px;
  max-height: 600px;
  position: absolute;
  right: 5%;
  bottom: 30%;
  background-color: #464646;
  -webkit-box-shadow: 0 7px 4px #777;
  -moz-box-shadow: 0 7px 4px #777;
  box-shadow: 0 7px 4px #777;
  color: lightgrey; }

.image-thumbnail img {
  padding: 8px 4px; }

div.layers-image {
  width: 100%;
  border: 1px black; }

div.image-select {
  border: 1px black; }

div.image-thumbnail {
  width: 25%; }

div.image-title {
  width: 45%; }

div.layers-image div {
  display: inline-block; }

div.image-buttons {
  width: 20%; }

.layers-nav {
  padding: 2px 4px; }

.layers-title {
  padding-left: 5px; }

.image-select {
  padding: 1px 1px;
  color: rgba(255, 255, 255, 0.5); }

@media (min-width: 576px) {
  .announcements-glitch-md, .announcements-glitch-lg, .announcements-glitch-xl {
    display: none; }

  .announcements-glitch-xs {
    display: block; } }
@media (min-width: 768px) {
  .announcements-glitch-xs, .announcements-glitch-lg, .announcements-glitch-xl {
    display: none; }

  .announcements-glitch-md {
    display: block; } }
@media (min-width: 992px) {
  .announcements-glitch-md, .announcements-glitch-xs, .announcements-glitch-xl {
    display: none; }

  .announcements-glitch-lg {
    display: block; } }
@media (min-width: 1200px) {
  .announcements-glitch-md, .announcements-glitch-lg, .announcements-glitch-xs {
    display: none; }

  .announcements-glitch-xl {
    display: block; } }
.announcements-glitch-lg {
  font-size: 50px;
  font-weight: 300;
  color: black;
  position: relative; }
@keyframes announcements-glitch-anim-1 {
  0% {
    clip: rect(60px, 932px, 61px, 0); }
  5% {
    clip: rect(7px, 932px, 15px, 0); }
  10% {
    clip: rect(27px, 932px, 53px, 0); }
  15% {
    clip: rect(11px, 932px, 39px, 0); }
  20% {
    clip: rect(22px, 932px, 36px, 0); }
  25% {
    clip: rect(9px, 932px, 25px, 0); }
  30% {
    clip: rect(5px, 932px, 1px, 0); }
  35% {
    clip: rect(36px, 932px, 41px, 0); }
  40% {
    clip: rect(17px, 932px, 9px, 0); }
  45% {
    clip: rect(14px, 932px, 38px, 0); }
  50% {
    clip: rect(7px, 932px, 2px, 0); }
  55% {
    clip: rect(35px, 932px, 58px, 0); }
  60% {
    clip: rect(48px, 932px, 27px, 0); }
  65% {
    clip: rect(44px, 932px, 34px, 0); }
  70% {
    clip: rect(11px, 932px, 20px, 0); }
  75% {
    clip: rect(17px, 932px, 11px, 0); }
  80% {
    clip: rect(9px, 932px, 11px, 0); }
  85% {
    clip: rect(11px, 932px, 44px, 0); }
  90% {
    clip: rect(10px, 932px, 28px, 0); }
  95% {
    clip: rect(20px, 932px, 25px, 0); }
  100% {
    clip: rect(7px, 932px, 12px, 0); } }
@keyframes announcements-glitch-anim-2 {
  0% {
    clip: rect(58px, 932px, 34px, 0); }
  5% {
    clip: rect(28px, 932px, 6px, 0); }
  10% {
    clip: rect(61px, 932px, 21px, 0); }
  15% {
    clip: rect(20px, 932px, 15px, 0); }
  20% {
    clip: rect(4px, 932px, 49px, 0); }
  25% {
    clip: rect(18px, 932px, 41px, 0); }
  30% {
    clip: rect(19px, 932px, 56px, 0); }
  35% {
    clip: rect(7px, 932px, 39px, 0); }
  40% {
    clip: rect(54px, 932px, 15px, 0); }
  45% {
    clip: rect(26px, 932px, 13px, 0); }
  50% {
    clip: rect(22px, 932px, 36px, 0); }
  55% {
    clip: rect(9px, 932px, 26px, 0); }
  60% {
    clip: rect(35px, 932px, 41px, 0); }
  65% {
    clip: rect(32px, 932px, 40px, 0); }
  70% {
    clip: rect(18px, 932px, 36px, 0); }
  75% {
    clip: rect(26px, 932px, 22px, 0); }
  80% {
    clip: rect(37px, 932px, 22px, 0); }
  85% {
    clip: rect(14px, 932px, 23px, 0); }
  90% {
    clip: rect(49px, 932px, 52px, 0); }
  95% {
    clip: rect(20px, 932px, 19px, 0); }
  100% {
    clip: rect(20px, 932px, 48px, 0); } }
  .announcements-glitch-lg:before, .announcements-glitch-lg:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    clip: rect(0, 0, 0, 0); }
  .announcements-glitch-lg:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: announcements-glitch-anim-1 2s infinite linear alternate-reverse; }
  .announcements-glitch-lg:before {
    left: -2px;
    text-shadow: 2px 0 green;
    animation: announcements-glitch-anim-2 3s infinite linear alternate-reverse; }

.announcements-glitch-md {
  font-size: 40px;
  font-weight: 300;
  color: black;
  position: relative; }
@keyframes announcements-glitch-anim-1 {
  0% {
    clip: rect(10px, 692px, 24px, 0); }
  5% {
    clip: rect(16px, 692px, 43px, 0); }
  10% {
    clip: rect(26px, 692px, 20px, 0); }
  15% {
    clip: rect(47px, 692px, 2px, 0); }
  20% {
    clip: rect(9px, 692px, 21px, 0); }
  25% {
    clip: rect(41px, 692px, 33px, 0); }
  30% {
    clip: rect(5px, 692px, 14px, 0); }
  35% {
    clip: rect(35px, 692px, 40px, 0); }
  40% {
    clip: rect(14px, 692px, 15px, 0); }
  45% {
    clip: rect(21px, 692px, 7px, 0); }
  50% {
    clip: rect(36px, 692px, 32px, 0); }
  55% {
    clip: rect(4px, 692px, 30px, 0); }
  60% {
    clip: rect(16px, 692px, 9px, 0); }
  65% {
    clip: rect(6px, 692px, 42px, 0); }
  70% {
    clip: rect(46px, 692px, 49px, 0); }
  75% {
    clip: rect(47px, 692px, 44px, 0); }
  80% {
    clip: rect(36px, 692px, 13px, 0); }
  85% {
    clip: rect(49px, 692px, 18px, 0); }
  90% {
    clip: rect(39px, 692px, 4px, 0); }
  95% {
    clip: rect(4px, 692px, 19px, 0); }
  100% {
    clip: rect(29px, 692px, 38px, 0); } }
@keyframes announcements-glitch-anim-2 {
  0% {
    clip: rect(34px, 692px, 35px, 0); }
  5% {
    clip: rect(8px, 692px, 17px, 0); }
  10% {
    clip: rect(21px, 692px, 14px, 0); }
  15% {
    clip: rect(9px, 692px, 39px, 0); }
  20% {
    clip: rect(36px, 692px, 18px, 0); }
  25% {
    clip: rect(25px, 692px, 21px, 0); }
  30% {
    clip: rect(31px, 692px, 34px, 0); }
  35% {
    clip: rect(32px, 692px, 22px, 0); }
  40% {
    clip: rect(39px, 692px, 42px, 0); }
  45% {
    clip: rect(41px, 692px, 24px, 0); }
  50% {
    clip: rect(17px, 692px, 3px, 0); }
  55% {
    clip: rect(30px, 692px, 29px, 0); }
  60% {
    clip: rect(15px, 692px, 45px, 0); }
  65% {
    clip: rect(33px, 692px, 8px, 0); }
  70% {
    clip: rect(31px, 692px, 37px, 0); }
  75% {
    clip: rect(35px, 692px, 21px, 0); }
  80% {
    clip: rect(42px, 692px, 33px, 0); }
  85% {
    clip: rect(9px, 692px, 1px, 0); }
  90% {
    clip: rect(18px, 692px, 33px, 0); }
  95% {
    clip: rect(12px, 692px, 42px, 0); }
  100% {
    clip: rect(6px, 692px, 49px, 0); } }
  .announcements-glitch-md:before, .announcements-glitch-md:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    clip: rect(0, 0, 0, 0); }
  .announcements-glitch-md:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: announcements-glitch-anim-1 2s infinite linear alternate-reverse; }
  .announcements-glitch-md:before {
    left: -2px;
    text-shadow: 2px 0 green;
    animation: announcements-glitch-anim-2 3s infinite linear alternate-reverse; }

.announcements-glitch-xl {
  font-size: 60px;
  font-weight: 300;
  color: black;
  position: relative; }
@keyframes announcements-glitch-anim-1 {
  0% {
    clip: rect(30px, 1112px, 30px, 0); }
  5% {
    clip: rect(61px, 1112px, 40px, 0); }
  10% {
    clip: rect(25px, 1112px, 45px, 0); }
  15% {
    clip: rect(21px, 1112px, 48px, 0); }
  20% {
    clip: rect(42px, 1112px, 9px, 0); }
  25% {
    clip: rect(43px, 1112px, 9px, 0); }
  30% {
    clip: rect(39px, 1112px, 49px, 0); }
  35% {
    clip: rect(38px, 1112px, 21px, 0); }
  40% {
    clip: rect(15px, 1112px, 11px, 0); }
  45% {
    clip: rect(25px, 1112px, 21px, 0); }
  50% {
    clip: rect(32px, 1112px, 59px, 0); }
  55% {
    clip: rect(8px, 1112px, 41px, 0); }
  60% {
    clip: rect(33px, 1112px, 6px, 0); }
  65% {
    clip: rect(49px, 1112px, 42px, 0); }
  70% {
    clip: rect(29px, 1112px, 7px, 0); }
  75% {
    clip: rect(48px, 1112px, 42px, 0); }
  80% {
    clip: rect(60px, 1112px, 60px, 0); }
  85% {
    clip: rect(28px, 1112px, 25px, 0); }
  90% {
    clip: rect(24px, 1112px, 33px, 0); }
  95% {
    clip: rect(28px, 1112px, 34px, 0); }
  100% {
    clip: rect(39px, 1112px, 7px, 0); } }
@keyframes announcements-glitch-anim-2 {
  0% {
    clip: rect(17px, 1112px, 3px, 0); }
  5% {
    clip: rect(22px, 1112px, 32px, 0); }
  10% {
    clip: rect(43px, 1112px, 49px, 0); }
  15% {
    clip: rect(24px, 1112px, 55px, 0); }
  20% {
    clip: rect(53px, 1112px, 37px, 0); }
  25% {
    clip: rect(28px, 1112px, 56px, 0); }
  30% {
    clip: rect(7px, 1112px, 30px, 0); }
  35% {
    clip: rect(20px, 1112px, 16px, 0); }
  40% {
    clip: rect(22px, 1112px, 15px, 0); }
  45% {
    clip: rect(32px, 1112px, 20px, 0); }
  50% {
    clip: rect(27px, 1112px, 27px, 0); }
  55% {
    clip: rect(2px, 1112px, 17px, 0); }
  60% {
    clip: rect(25px, 1112px, 8px, 0); }
  65% {
    clip: rect(20px, 1112px, 39px, 0); }
  70% {
    clip: rect(59px, 1112px, 56px, 0); }
  75% {
    clip: rect(21px, 1112px, 37px, 0); }
  80% {
    clip: rect(37px, 1112px, 57px, 0); }
  85% {
    clip: rect(38px, 1112px, 9px, 0); }
  90% {
    clip: rect(36px, 1112px, 26px, 0); }
  95% {
    clip: rect(4px, 1112px, 53px, 0); }
  100% {
    clip: rect(6px, 1112px, 27px, 0); } }
  .announcements-glitch-xl:before, .announcements-glitch-xl:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    clip: rect(0, 0, 0, 0); }
  .announcements-glitch-xl:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: announcements-glitch-anim-1 2s infinite linear alternate-reverse; }
  .announcements-glitch-xl:before {
    left: -2px;
    text-shadow: 2px 0 green;
    animation: announcements-glitch-anim-2 3s infinite linear alternate-reverse; }

.announcements-glitch-xs {
  font-size: 30px;
  font-weight: 300;
  color: black;
  position: relative; }
@keyframes announcements-glitch-anim-1 {
  0% {
    clip: rect(37px, 512px, 25px, 0); }
  5% {
    clip: rect(31px, 512px, 20px, 0); }
  10% {
    clip: rect(15px, 512px, 2px, 0); }
  15% {
    clip: rect(13px, 512px, 12px, 0); }
  20% {
    clip: rect(32px, 512px, 31px, 0); }
  25% {
    clip: rect(11px, 512px, 5px, 0); }
  30% {
    clip: rect(31px, 512px, 3px, 0); }
  35% {
    clip: rect(2px, 512px, 25px, 0); }
  40% {
    clip: rect(4px, 512px, 32px, 0); }
  45% {
    clip: rect(14px, 512px, 33px, 0); }
  50% {
    clip: rect(1px, 512px, 1px, 0); }
  55% {
    clip: rect(3px, 512px, 16px, 0); }
  60% {
    clip: rect(18px, 512px, 29px, 0); }
  65% {
    clip: rect(5px, 512px, 15px, 0); }
  70% {
    clip: rect(22px, 512px, 1px, 0); }
  75% {
    clip: rect(35px, 512px, 16px, 0); }
  80% {
    clip: rect(19px, 512px, 24px, 0); }
  85% {
    clip: rect(31px, 512px, 14px, 0); }
  90% {
    clip: rect(1px, 512px, 12px, 0); }
  95% {
    clip: rect(4px, 512px, 37px, 0); }
  100% {
    clip: rect(11px, 512px, 9px, 0); } }
@keyframes announcements-glitch-anim-2 {
  0% {
    clip: rect(16px, 512px, 2px, 0); }
  5% {
    clip: rect(32px, 512px, 24px, 0); }
  10% {
    clip: rect(20px, 512px, 13px, 0); }
  15% {
    clip: rect(19px, 512px, 10px, 0); }
  20% {
    clip: rect(22px, 512px, 30px, 0); }
  25% {
    clip: rect(17px, 512px, 18px, 0); }
  30% {
    clip: rect(29px, 512px, 36px, 0); }
  35% {
    clip: rect(14px, 512px, 10px, 0); }
  40% {
    clip: rect(35px, 512px, 9px, 0); }
  45% {
    clip: rect(37px, 512px, 35px, 0); }
  50% {
    clip: rect(16px, 512px, 7px, 0); }
  55% {
    clip: rect(35px, 512px, 27px, 0); }
  60% {
    clip: rect(20px, 512px, 9px, 0); }
  65% {
    clip: rect(22px, 512px, 23px, 0); }
  70% {
    clip: rect(15px, 512px, 13px, 0); }
  75% {
    clip: rect(3px, 512px, 31px, 0); }
  80% {
    clip: rect(5px, 512px, 14px, 0); }
  85% {
    clip: rect(3px, 512px, 36px, 0); }
  90% {
    clip: rect(27px, 512px, 10px, 0); }
  95% {
    clip: rect(5px, 512px, 21px, 0); }
  100% {
    clip: rect(26px, 512px, 20px, 0); } }
  .announcements-glitch-xs:before, .announcements-glitch-xs:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    clip: rect(0, 0, 0, 0); }
  .announcements-glitch-xs:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: announcements-glitch-anim-1 2s infinite linear alternate-reverse; }
  .announcements-glitch-xs:before {
    left: -2px;
    text-shadow: 2px 0 green;
    animation: announcements-glitch-anim-2 3s infinite linear alternate-reverse; }

/*# sourceMappingURL=creationbydestruction.css.map */
